
div.color-picker[data-v-f838b574] {
    display: inline-block;
    position: relative;
    width: 65px;
    text-align: center;
    box-sizing: border-box;
}
span.color[data-v-f838b574] {
    width: 1.2em;
    height: 1.2em;
    border-radius: 1.2em;
    top: 0.1em;
    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul.color-list[data-v-f838b574], ul.color-list li[data-v-f838b574] {
    list-style: none;
    padding: 0;
    margin: 0;
}
div.color-dropdown[data-v-f838b574] {
    position: absolute;
    max-height: 0px;
    top: 0px;
    transition: max-height 0.5s ease;
    padding-top: 23px;
    width: 65px;
    text-align: left;
    overflow: hidden;
    left: 0;
    border-radius: 0px 3px 3px 3px;
    box-sizing: border-box;
}
div.color-picker:hover > div.color-dropdown[data-v-f838b574] {
    max-height: 500px;
}
ul.color-list[data-v-f838b574] {
    border: 1px solid #ccc;
    border-radius: 0px 3px 3px 3px;
    background: #fff;
}
ul.color-list li[data-v-f838b574] {
    padding: 0.2em 0.2em;
    margin-bottom: 1px;
    background: #f4f4f4 linear-gradient(to bottom, #f0f0f0 0px, #f4f4f4 50%);
    box-sizing: border-box;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
ul.color-list li[data-v-f838b574]:last-child {
    margin-bottom: 0;
}


div.selection-menu-option a[data-v-c2b3ccbc] {
    color: #ec1d25;
    font-size: 1.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 1.2em;
}


div.selection-menu-option span.fa[data-v-1bbeaa42] {
    font-size: 1.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 1.2em;
}
div.edit-field-dropdown[data-v-1bbeaa42] {
    position: absolute;
    max-height: 0px;
    top: 20px;
    transition: max-height 0.5s ease;
    width: 250px;

    text-align: left;
    overflow: hidden;
    border-radius: 0px 3px 3px 3px;
    box-sizing: border-box;
}
.align-menu-right div.edit-field-dropdown[data-v-1bbeaa42] {
    right: 0;
}
div.edit-field-box[data-v-1bbeaa42] {
    padding: 0;
    margin-top: 4px;
    background-color: #fff;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
}
div.edit-field-box h4[data-v-1bbeaa42] {
    background: #ccc;
    color: #fff;
    padding: 4px;
    display: block;
    margin: 0;
}
div.edit-field-box textarea[data-v-1bbeaa42] {
    width: 100%;
    padding: 7px 8px 6px;
    border-radius: 0;
    border: none;
    background: #fff;
    background: linear-gradient(to bottom, #eee 0px, #fff 5px);
    box-sizing: border-box;
    min-height: 4.8em;
    resize: none;
}
div.note-option:hover > div.edit-field-dropdown[data-v-1bbeaa42] {
    max-height: 500px;
}


.selection-current-note[data-v-330f028e] {
    background: linear-gradient(to bottom, #444 0px, #777 5px);
    color: #fff;
    font-size: 0.70rem;
    border-radius: 0.5em;
    max-width: 250px;
    top: 2.5em;
    padding: 0.5em;
    opacity: 0.85;
    transition: opacity ease 0.5s;
}
.selection-current-note[data-v-330f028e]:hover {
    opacity: 1;
}
.selection-current-note .author[data-v-330f028e] {
    font-weight: 700;
    margin-bottom: 0.5em;
}
.selection-current-note .value[data-v-330f028e] {
    margin-bottom: 0.1em;
}


.selection-menu {
    position: absolute;
    color: #444;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    font-size: 0.7rem;
    line-height: 1.5em;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    z-index: 100000;
}
.selection-menu-active {
    opacity: 1;
    pointer-events: auto;
}
.slow-animation:not(.selection-menu-active) {
    transition: opacity 1s 0.5s ease-in-out;
    pointer-events: auto;
}
.selection-menu-uneditable {
    display: inline-block;
}
.selection-menu-options {
    background: linear-gradient(to bottom, #ccc 0px, #eee 5px);
    border: 1px solid #aaa;
    border-radius: 3px;
    display: flex;
}
.selection-edit-toggle {
    cursor: pointer;
    display: inline-block;
}
.selection-menu-option {
    display: inline-block;
    padding: 0.2em;
    border-right: 1px solid #aaa;
    box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.5);
}
.selection-menu-option:hover {
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.align-menu-right .css-tooltip:hover:after  {
    left: auto;
    right: 0;
}
.align-menu-right .css-tooltip:hover:before {
    left: auto;
    right: 0.375rem;
}

mark {
    background-blend-mode: screen;
    user-select: none;
    cursor: pointer;
}

mark.selection-mark {
    position: relative;
}

mark.comment.last-mark:after {
    position: relative;
    right: 0;
    color: calcfg(--font);
    font-size: 11px;
    font-family: 'Font Awesome 5 Pro';
    content: " \f4ad";
    font-weight: 100;
}

mark[data-color = "yellow"], .mark-yellow {
    background-color: rgba(255, 255, 0, 0.5);
}

.mark-yellow {
    border: 1px solid rgba(255, 255, 0, 0.8);
}

mark[data-color = "green"], .mark-green {
    background-color: rgba(46, 204, 64, 0.5);
}

.mark-green {
    border: 1px solid rgba(46, 204, 64, 0.8);
}

mark[data-color = "red"], .mark-red {
    background-color: rgba(255, 65, 54, 0.5)
}

.mark-red {
    border: 1px solid rgba(255, 65, 54, 0.8)
}

mark[data-color = "blue"], .mark-blue {
    background-color: rgba(0, 116, 217, 0.5);
}

.mark-blue {
    border: 1px solid rgba(0, 116, 217, 0.8);
}

a.selection-anchor {
    display: inline-block;
    width: 1px;
    height: 1px;
    position: absolute;
    border-radius: 1px;
    background-color: #fff;
    opacity: 0;
}

/*# sourceMappingURL=marker.css.map*/